.App {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	align-items: center;
	color: black;
	justify-items: center;
	align-items: center;
	grid-template-rows: auto 1fr;
}

@media (prefers-color-scheme: dark) {
	.App,
	body {
		background: #252329;
		color: white;
	}
}
